*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: hidden;
}

form .gambar{
    width: 40%;
}

#particles-js{
    height: 100vh;
    padding-top: 100px;
    background: linear-gradient(#0D6EFD,#19396a);
}

#particles-js form{
    margin: auto;
    width: 60%;
    height: 60vh;
    background-color: #fefefe;
    padding: 30px 50px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
    color: #303030;
    display: flex;
    justify-content: space-around;
    align-items: center;
    transition: all 0.8s ease-in-out;
}

#particles-js form:hover{
    transform: scale(1.1);
}

#particles-js input{
    background-color: #dadada;
    outline: none;
    box-shadow: none!important;
    font-size: 15px;
}